[Unit]
Description=My Hibachi Database Backup Timer
Requires=myhibachi-backup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target